<a href="https://colab.research.google.com/github/nephylum/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/DS9_assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [x] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [x] Engineer at least two new features. (See below for explanation & ideas.)
- [x] Fit a linear regression model with at least two features.
- [x] Get the model's coefficients and intercept.
- [x] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [98]:
#check the datatype of 'created' and use one as reference to strip time using datetime
df['created'][0]

'2016-06-24 07:54:24'

In [0]:
# from datetime import datetime

# test = datetime.strptime(df['created'][0],'%Y-%m-%d %H:%M:%S')

# for x in df['created']:
#   df['created'] = datetime.strptime(x,'%Y-%m-%d %H:%M:%S')

# df['created']

In [0]:
#use pandas datetime to change strings to datetime
df['created'] = pd.to_datetime(df['created'], infer_datetime_format=True)

In [101]:
#seperate dataset into train and test
train = df[df['created'].dt.month < 6]
test = df[df['created'].dt.month >= 6]
print(train.shape, test.shape)

(31844, 34) (16973, 34)

In [102]:
#create two new features bedsnbaths and amenities (cats allowed, dogs allowed, no fee)

test['bedsnbaths'] = test['bedrooms'] + test['bathrooms']
train['bedsnbaths'] = train['bedrooms'] + train['bathrooms']

train['amenities'] = train['cats_allowed'] + train['dogs_allowed'] + train['no_fee']
test['amenities'] = test['cats_allowed'] + test['dogs_allowed'] + test['no_fee']

#check if features were added
train.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   bathrooms  bedrooms  ... bedsnbaths amenities
2        1.0         1  ...        2.0         0
3        1.0         1  ...        2.0         1
4        1.0         4  ...        5.0         0
5        2.0         4  ...        6.0         0
6        1.0         2  ...        3.0         3

[5 rows x 36 columns]

In [103]:
#check if features were added
test.head()

    bathrooms  bedrooms  ... bedsnbaths amenities
0         1.5         3  ...        4.5         0
1         1.0         2  ...        3.0         2
11        1.0         1  ...        2.0         0
14        1.0         1  ...        2.0         0
24        2.0         4  ...        6.0         2

[5 rows x 36 columns]

In [0]:
#import linear regression
from sklearn.linear_model import LinearRegression

#instantiate linear regression
model = LinearRegression()

In [105]:
#train the model target is price
features = ['bedsnbaths', 'amenities']
target = 'price'

model.fit(train[features], train[target])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [106]:
model.predict([[3,1]])

array([3761.44595639])

In [107]:
#get the coefficient and intercept of the regression
coef = model.coef_
intercept = model.intercept_
print(coef, intercept)

[803.67437025 100.65381819] 1249.7690274336164

In [0]:
# import sklearn.metrics so we can check the accuracy of our model on train
# and test data
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [109]:
# make test into 2 columned dataframe for use in sklearn.metrics
y = train[target]
# # test = train[target] + train[target]
# y['price2'] = y
y

2        2850
3        3275
4        3350
5        7995
6        3600
         ...
49346    4500
49348    3950
49349    2595
49350    3350
49351    2200
Name: price, Length: 31844, dtype: int64

In [110]:
(coef[1] * train['amenities'])

2          0.000000
3        100.653818
4          0.000000
5          0.000000
6        301.961455
            ...
49346    201.307636
49348    201.307636
49349    201.307636
49350    201.307636
49351      0.000000
Name: amenities, Length: 31844, dtype: float64

In [111]:
(coef[1] * train['amenities'])+(coef[0]*train['bedsnbaths']) + intercept

2        2857.117768
3        2957.771586
4        5268.140879
5        6071.815249
6        3962.753593
            ...
49346    3058.425404
49348    3058.425404
49349    3058.425404
49350    2254.751034
49351    3660.792138
Length: 31844, dtype: float64

In [112]:
#find mean absolute error, mean squared error and r2
y_pred = model.predict(train[features])
# y_pred = (coef[1] * train['amenities'])+(coef[0]*train['bedsnbaths']) + intercept
print(y_pred.shape)
mae = mean_absolute_error(y, y_pred)

mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y, y_pred)

print(f'Mean Absolute Error: {mae:.2f}')
print(f'Root Mean Squared Error: {rmse:.2f}')
print(f'R^2:', r2)

(31844,)
Mean Absolute Error: 886.20
Root Mean Squared Error: 1336.47
R^2: 0.4247525136860407

In [113]:
#check test data on regression model
y2 = test[target]
y_predtest = model.predict(test[features])
mae2 = mean_absolute_error(y2, y_predtest)

mse2 = mean_squared_error(y2, y_predtest)
rmse2 = np.sqrt(mse2)
r2_2 = r2_score(y2, y_predtest)

print(f'Mean Absolute Error: {mae2:.2f}')
print(f'Root Mean Squared Error: {rmse2:.2f}')
print(f'R^2:', r2_2)

Mean Absolute Error: 903.74
Root Mean Squared Error: 1336.04
R^2: 0.42568132483421506

In [116]:
# get the baseline
test1 = [df['price'].mean()] * len(df['price'])
mean_absolute_error(df['price'], test1)

1201.532252154329

# While the regression model is not perfect, it seems to be better than a guess by comparing the total mean